<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->

		<!-- Preloader -->
		<div class="preloader">
			<div class="clear-loading loading-effect-2">
				<span></span>
			</div>
		</div><!-- /.preloader -->

		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="header-wrap">
							<div id="logo" class="logo">
								<a href="index.html" title="">
									Dailist
								</a>
							</div><!-- /.logo -->
							<div class="nav-wrap">
								<nav id="mainnav" class="mainnav">
									 <ul class="menu">
									 	<li>
									 		<a href="#" title="">Explore</a>
									 		<ul class="submenu">
									 			<li>
									 				<a href="explore-v1.html" title="">Explore Map Zoom In</a>
									 			</li>
									 			<li>
									 				<a href="explore-v2.html" title="">Explore Map Zoom Out</a>
									 			</li>
									 			<li>
									 				<a href="explore-v3.html" title="">Explore Map List</a>
									 			</li>
									 			<li>
									 				<a href="explore-v4.html" title="">Explore Grid</a>
									 			</li>
									 			<li>
									 				<a href="explore-v5.html" title="">Explore List</a>
									 			</li>
									 			<li>
									 				<a href="explore-detail.html" title="">Explore Details</a>
									 			</li>
									 		</ul>
									 	</li>
									 	<li>
									 		<a href="#" title="">Learn</a>
									 		<ul class="submenu">
									 			<li>
									 				<a href="index.html" title="">Index Layout</a>
									 			</li>
									 			<li>
									 				<a href="404.html" title="">404 Page</a>
									 			</li>
									 			<li>
									 				<a href="addlisting.html" title="">Add Listings</a>
									 			</li>
									 			<li>
									 				<a href="comingsoon.html" title="">Comming Soon</a>
									 			</li>
									 			<li>
									 				<a href="contact.html" title="">Contact</a>
									 			</li>
									 			<li>
									 				<a href="price.html" title="">Price Page</a>
									 			</li>
									 			<li>
									 				<a href="work.html" title="">How It Works</a>
									 			</li>
									 		</ul>
									 	</li>
									 	<li>
									 		<a href="blog.html" title="">Blog</a>
									 		<ul class="submenu">
									 			<li>
									 				<a href="blog.html" title="">Blog</a>
									 			</li>
									 			<li>
									 				<a href="blog-single.html" title="">Blog Single</a>
									 			</li>
									 		</ul>
									 	</li>
									 	<li>
									 		<a href="login.html" title="">Log In</a>
									 	</li>
									 	<li>
									 		<a href="register.html" title="">Sign Up</a>
									 	</li>
									 </ul>
								</nav><!-- /.mainnav -->
								<div class="button-header">
									<a href="http://corpthemes.com/html/dailist/register.html" title=""><i class="ti-plus"></i>Add Your Properties</a>
								</div>
								<div class="show-search">
									<button><span class="ti-search"></span></button>
									<div class="submenu top-search search-header">
					                    <form role="search" method="get" class="search-form" action="#">
											<label>
												<input type="search" class="search-field" placeholder="Search …" value="" name="search">
											</label>
											<button class="search-submit-form" title="Search now"><i class="fa fa-search" aria-hidden="true"></i></button>
										</form>
									</div>
								</div><!-- /.show-search -->
								<div class="btn-menu">
		                            <span></span>
		                        </div><!-- //mobile menu button -->
							</div><!-- /.nav-wrap -->
						</div><!-- /.header-wrap -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div><!-- /.header -->

		<section class="page-title style2 parallax parallax1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-heading">
							Discover the Best Places
						</div>
						<div class="text-heading">
							Expolore top-rated attractions, activities and more
						</div>
						<div class="wrap-box-search">
							<form action="#" method="get" accept-charset="utf-8">
								<span>
									<input type="text" placeholder="What are you looking for ?" name="search">
								</span>
								<span class="location">
									<span class="ti-location-pin"></span>
									<input type="text" placeholder="Location" name="location">
								</span>
								<span class="categories">
									<span class="ti-angle-down"></span>
									<select name="categories">
										<option value="">All Categories</option>
										<option value="">All Categories</option>
										<option value="">All Categories</option>
									</select>
								</span>
								<button type="submit" class="search-btn">Search</button>
							</form><!-- /form -->
						</div><!-- /.wrap-box-search -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
			<div class="overlay"></div>
		</section><!-- /.page-title -->

		<section class="flat-highlights">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="highlights">
							<ul class="menu-list">
								<li>
									<a href="#" title="">
										<img src="images/page/cutlery.png" alt="">
										<span>Foot</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="images/page/double-bed.png" alt="">
										<span>Hotel</span>
									</a>

								</li>
								<li class="active">
									<a href="#" title="">
										<img src="images/page/guitar.png" alt="">
										<span>Play</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="images/page/rent-a-car.png" alt="">
										<span>Automove</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="images/page/shopping-bag.png" alt="">
										<span>Shop</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="images/page/dumbbell.png" alt="">
										<span>Fitness</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="images/page/cocktail.png" alt="">
										<span>Nightlife</span>
									</a>

								</li>
								<li>
									<a href="#" title="">
										<img src="images/page/park.png" alt="">
										<span>Park</span>
									</a>

								</li>
							</ul><!-- /.menu-list -->
						</div><!-- /.highlights -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</section><!-- /.flat-highlights -->

		<section class="flat-row flat-imagebox style5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title center">
							<h2>Our Top Destinations</h2>
							<p>
								Cities you must explore this summer
							</p>
						</div>
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-6">
						<div class="imagebox style5">
							<div class="box-image">
								<img src="images/page/halong.png" alt="">
								<div class="overlay"></div>
							</div>
							<div class="box-content">
								<a href="#" title="">Ha Long</a>
								<p>Viet Nam</p>
							</div>
						</div><!-- /.imagebox style5 -->
					</div><!-- /.col-md-6 -->
					<div class="col-md-3 col-sm-6">
						<div class="imagebox style5">
							<div class="box-image">
								<img src="images/page/tokyo.png" alt="">
								<div class="overlay"></div>
							</div>
							<div class="box-content">
								<a href="#" title="">Tokyo</a>
								<p>Japan</p>
							</div>
						</div><!-- /.imaebox style5 -->
						<div class="height20"></div>
						<div class="imagebox style5">
							<div class="box-image">
								<img src="images/page/hanoi.png" alt="">
								<div class="overlay"></div>
							</div>
							<div class="box-content">
								<a href="#" title="">Ha Noi</a>
								<p>Viet Nam</p>
							</div>
						</div><!-- /.imaebox style5 -->
					</div><!-- /.col-md-3 col-sm-6 -->
					<div class="col-md-3 col-sm-6">
						<div class="imagebox style5">
							<div class="box-image">
								<img src="images/page/newyork.png" alt="">
								<div class="overlay"></div>
							</div>
							<div class="box-content">
								<a href="#" title="">New York</a>
								<p>USA</p>
							</div>
						</div><!-- /.imagebox style5 -->
						<div class="height20"></div>
						<div class="imagebox style5">
							<div class="box-image">
								<img src="images/page/seoul.png" alt="">
								<div class="overlay"></div>
							</div>
							<div class="box-content">
								<a href="#" title="">Seoul</a>
								<p>Korea</p>
							</div>
						</div><!-- /.imagebox style5 -->
					</div><!-- /.col-md-3 col-sm-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebx style5 -->

		<section class="flat-row flat-imagebox background">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title center">
							<h2>Best Things to Do in the City</h2>
							<p>
								Search and Find what you are looking for. Best spots are here for you
							</p>
						</div><!-- /.flat-row-title -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-4">
						<div class="imagebox">
							<div class="box-imagebox">
								<div class="box-header">
									<div class="box-image">
										<img src="images/page/img-01.png" alt="">
										<a href="#" title="">Preview</a>
										<div class="overlay"></div>
										<div class="queue">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
										</div>
									</div>
								</div><!-- /.box-header -->
								<div class="box-content">
									<div class="box-title ad">
										<span>Ad</span><a href="#" title="">AN Restaurant</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									</div>
									<ul class="rating">
										<li>5 rating</li>
										<li>Moderate</li>
										<li>Restaurant</li>
									</ul>
									<div class="box-desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</div>
								</div><!-- /.box-content -->
								<ul class="location">
									<li class="address"><span class="ti-location-pin"></span>Hanoi, Vietnam</li>
									<li class="closed">Closed Now !</li>
								</ul><!-- /.location -->
							</div><!-- /.box-imagebox -->
						</div><!-- /.imaegbox -->
					</div><!-- /.col-md-4 -->
					<div class="col-md-4">
						<div class="imagebox">
							<div class="box-imagebox">
								<div class="box-header">
									<div class="box-image">
										<img src="images/page/img-02.png" alt="">
										<a href="#" title="">Preview</a>
										<div class="overlay"></div>
										<div class="queue">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
									</div>
								</div><!-- /.box-header -->
								<div class="box-content">
									<div class="box-title">
										<a href="#" title="">Acantara</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									</div>
									<ul class="rating">
										<li>10 rating</li>
										<li>Ultra High End</li>
										<li>Hotel</li>
									</ul>
									<div class="box-desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</div>
								</div><!-- /.box-content -->
								<ul class="location">
									<li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									<li class="open">Open Now !</li>
								</ul><!-- /.location -->
							</div><!-- /.box-imagebox -->
						</div><!-- /.imaegbox -->
					</div><!-- /.col-md-4 -->
					<div class="col-md-4">
						<div class="imagebox">
							<div class="box-imagebox">
								<div class="box-header">
									<div class="box-image">
										<img src="images/page/img-03.png" alt="">
										<a href="#" title="">Preview</a>
										<div class="overlay"></div>
										<div class="queue">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
									</div>
								</div><!-- /.box-header -->
								<div class="box-content">
									<div class="box-title">
										<a href="#" title="">Intercontinental</a><i class="fa fa-check-circle" aria-hidden="true"></i>
									</div>
									<ul class="rating">
										<li>6 rating</li>
										<li>Pricey</li>
										<li>Hotel</li>
									</ul>
									<div class="box-desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</div>
								</div><!-- /.box-content -->
								<ul class="location">
									<li class="address"><span class="ti-location-pin"></span>Seoul, Korea</li>
									<li class="open">Open Now !</li>
								</ul><!-- /.location -->
							</div><!-- /.box-imagebox -->
						</div><!-- /.imaegbox -->
					</div><!-- /.col-md-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox style2 -->

		<section class="flat-row flat-iconbox style1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title center">
							<h2>See How It Works</h2>
							<p>
								Discover how Dailist can you help you find everything you want.
							</p>
						</div><!-- /.flat-row-title -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-sm-4">
						<div class="iconbox style1">
							<div class="box-header">
								<div class="iconbox-icon">
									<img src="images/page/iconbox-03.png" alt="">
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<h4 class="box-title">Choose What To Do</h4>
								<div class="box-desc">
									Looking for a cozy hotel to stay, a restaurant to eat or a mall to do some shopping?
								</div>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style1 -->
					</div><!-- /.col-sm-4 -->
					<div class="col-sm-4">
						<div class="iconbox style1">
							<div class="box-header">
								<div class="iconbox-icon">
									<img src="images/page/iconbox-02.png" alt="">
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<h4 class="box-title">Find What You Want</h4>
								<div class="box-desc">
									Search and filter hundreds of listings, read reviews and find the perfect spot.
								</div>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style1 -->
					</div><!-- /.col-sm-4 -->
					<div class="col-sm-4">
						<div class="iconbox style1">
							<div class="box-header">
								<div class="iconbox-icon">
									<img src="images/page/iconbox-01.png" alt="">
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<h4 class="box-title">Explore Amazing Places</h4>
								<div class="box-desc">
									Go and have a good time or even make a booking directly from the listing page.
								</div>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style1 -->
					</div><!-- /.col-sm-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-iconbox style1 -->

		<section class="flat-row flat-text-title">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="text-title center">
							<h2>
								Browse Listing and Find Your Love
							</h2>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-text-title -->

		<section class="flat-row flat-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title center">
							<h2>Team Behind Dailist</h2>
							<p>
								We are one
							</p>
						</div><!-- /.flat-row-title -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel">
							<div class="team-member">
								<div class="member-image">
									<img src="images/page/team-01.png" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Tifany Reny</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
									<img src="images/page/team-02.png" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Adam Levan</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
									<img src="images/page/team-03.png" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Lisay lohen</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
									<img src="images/page/team-04.png" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Jessica Anta</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
							<div class="team-member">
								<div class="member-image">
									<img src="images/page/team-04.png" alt="">
								</div>
								<div class="member-content">
									<h4 class="name">Jessica Anta</h4>
									<div class="option">
										Reviewer
									</div>
								</div>
							</div><!-- /.team-member -->
						</div><!-- /.owl-carousel -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-team -->

		<section class="flat-row flat-main-blog style2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title center">
							<h2>Tips & Articles</h2>
							<p>
								Browse the latest articles from our blog.
							</p>
						</div><!-- /.flat-row-title -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<div class="featured-post">
								<a href="#" title="">
									<img src="images/blog/01.png" alt="">
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<ul class="entry-meta">
										<li class="topic">
											<a href="#" title="">Vocation</a>
										</li>
										<li class="date">
											<a href="#" title="">June 08, 2017</a>
										</li>
									</ul>

									<h2 class="entry-title">
										<a href="#" title="">
											Working While Traveling
											Around the World
										</a>
									</h2>
								</div>
								<p>
									Combining wanderlust and a steady job can be done for a year, with planning, permission and at a cost
								</p>
								<div class="author-post">
									By <a href="#" title="">Patricia R. Olsen</a>
								</div>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<div class="featured-post">
								<a href="#" title="">
									<img src="images/blog/02.png" alt="">
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<ul class="entry-meta">
										<li class="topic">
											<a href="#" title="">Trending</a>
										</li>
										<li class="date">
											<a href="#" title="">June 08, 2017</a>
										</li>
									</ul>
									<h2 class="entry-title">
										<a href="#" title="">
											For Summer, <br />
											Five Hot Destinations
										</a>
									</h2>
								</div>
								<p>
									Americans will likely travel more this summer than last, with Croatia, South Africa and Greece among the popular destinations.
								</p>
								<div class="author-post">
									By <a href="#" title="">Sivani Vora</a>
								</div>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<div class="featured-post">
								<a href="#" title="">
									<img src="images/blog/03.png" alt="">
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<ul class="entry-meta">
										<li class="topic">
											<a href="#" title="">Surfacing</a>
										</li>
										<li class="date">
											<a href="#" title="">May 25, 2017</a>
										</li>
									</ul>
									<h2 class="entry-title">
										<a href="#" title="">
											Five Places to Go in
											Downtown Albuquerque
										</a>
									</h2>
								</div>
								<p>
									Residents and in-the-know visitors to New Mexico’s largest city head to a once-derelict district that.
								</p>
								<div class="author-post">
									By <a href="#" title="">Nick Pachelli</a>
								</div>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
					<div class="col-lg-3 col-sm-6">
						<article class="blog-post">
							<div class="featured-post">
								<a href="#" title="">
									<img src="images/blog/04.png" alt="">
									<div class="overlay"></div>
								</a>
							</div><!-- /.featured-post -->
							<div class="content-post">
								<div class="entry-post">
									<ul class="entry-meta">
										<li class="topic">
											<a href="#" title="">24 Hour</a>
										</li>
										<li class="date">
											<a href="#" title="">May 25, 2017</a>
										</li>
									</ul>
									<h2 class="entry-title">
										<a href="#" title="">
											24 Hours in Indianapolis
										</a>
									</h2>
								</div>
								<p>
									There is more to Indiana’s capital city than the Memorial Day weekend whirlwind known as the Indy 500.
								</p>
								<div class="author-post">
									By <a href="#" title="">Elaine Glusac</a>
								</div>
							</div><!-- /.content-post -->
						</article><!-- /.blog-post -->
					</div><!-- /.col-lg-3 col-sm-6 -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div class="btn-more">
							<a href="blog.html" title="">View Blog</a>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-main-blog style2 -->

		<section class="flat-row flat-subscribe">
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="subscribe-text">
							Subscribe and be notified about new locations
						</div>
					</div><!-- /.col-sm-7 -->
					<div class="col-sm-5">
						<div class="subscribe-form">
							<form action="#" method="get" accept-charset="utf-8">
								<div class="subscribe-content">
									<div class="input-field">
										<input type="email" name="yourEmail" placeholder="Your Email" />
									</div>
									<button><span class="arrow_right"></span></button>
								</div>
							</form>
						</div><!-- /.subscribe-form -->
					</div><!-- /.col-sm-5 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-subscibe -->

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="widget widget-about">
							<div class="logo-ft">
								<a href="#" title="">
									Dailylist
								</a>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div><!-- /.widget-about -->
					</div><!-- /.col-md-3 -->
					<div class="col-md-3">
						<div class="widget widget-categories">
							<h3 class="widget-title">Categories</h3>
							<ul class="one-half">
								<li>
									<a href="#" title="">Foot</a>
								</li>
								<li>
									<a href="#" title="">Hotel</a>
								</li>
								<li>
									<a href="#" title="">Play</a>
								</li>
								<li>
									<a href="#" title="">Automove</a>
								</li>
							</ul>
							<ul class="one-half">
								<li>
									<a href="#" title="">Shop</a>
								</li>
								<li>
									<a href="#" title="">Fitness</a>
								</li>
								<li>
									<a href="#" title="">Nightlife</a>
								</li>
								<li>
									<a href="#" title="">Park</a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div><!-- /.widget-categories -->
					</div><!-- /.col-md-3 -->
					<div class="col-md-3">
						<div class="widget widget-contact">
							<h3 class="widget-title">Contact</h3>
							<ul class="contact-infomation">
								<li class="address">
									PO Box 16122 Collins Street West Victoria 8007 Australia
								</li>
								<li class="phone">
									(84) 90 532 9119
								</li>
								<li class="email">
									Dailist.support@gmail.com
								</li>
							</ul>
						</div><!-- /.widget-contact -->
					</div><!-- /.col-md-3 -->
					<div class="col-md-3">
						<div class="widget widget-map">
							<img src="images/page/bg-ft.png" alt="">
						</div><!-- /.widget-map -->
					</div><!-- /.col-md-3 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</footer><!-- /footer -->

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="social-ft">
							<li>
								<a href="#" title="">
									<i class="ti-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-twitter-alt" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-instagram" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-google" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-pinterest" aria-hidden="true"></i>
								</a>
							</li>
						</ul><!-- /.social-ft -->
						<div class="copyright">
							© 2017 Copyright by Deercreative. All rights reserved.
						</div><!-- /.copyright -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->

		<div class="button-go-top">
			<a href="#" title="" class="go-top">
				<i class="fa fa-chevron-up"></i>
			</a><!-- /.go-top -->
		</div><!-- /.button-go-top -->

		<!-- Javascript -->
	    <script type="text/javascript" src="javascript/jquery.min.js"></script>
	    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
	    <script type="text/javascript" src="javascript/easing.js"></script>
	    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
   		<script type="text/javascript" src="javascript/gmap3.min.js"></script>
   		<script type="text/javascript" src="javascript/parallax.js"></script>
	    <script type="text/javascript" src="javascript/owl.carousel.js"></script>

	    <script type="text/javascript" src="javascript/main.js"></script>

</html>
